<table class="table">
  <thead >
    <tr>
      <th scope="col" class="col col-lg-2">Id:</th>
      <th scope="col" class="col-md-auto">Subject:</th>
      <th scope="col" class="col col-lg-2">Body:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col col-lg-2"><%= template.id%></td>
      <td class="col-md-auto"><%= template.subject%></td>
      <td class="col col-lg-2"><%= template.body %></td>
    </tr>
  </tbody>
</table>
