<table class="table">
    <thead >
      <tr>
        <th scope="col" class="col col-lg-2">Id:</th>
        <th scope="col" class="col-md-auto">Name:</th>
        <th scope="col" class="col col-lg-2">Email:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col col-lg-2"><%= user.id%></td>
        <td class="col-md-auto"><%= user.name%></td>
        <td class="col col-lg-2"><%= user.email %></td>
      </tr>
    </tbody>
  </table>
